<script type="text/javascript" src="js/datepicker.js"></script>
<script type="text/javascript" src="js/stat.js"></script>

<script id="statViewTmpl" type="text/x-dot-template">
    <div class="view stat-view">
        <div class="mydatepicker">
	        <div class="dtp"></div>
        	<div class="button" id="btnUpdate">
            	<div class="button-text">Обновить данные</div>
            </div>
        </div>
        <div class="container">
        <div class="buttons"><a class="xls" href="" target="_blank">Скачать XLS</a>&nbsp;&nbsp;&nbsp;<a class="htm" href="" target="_blank">Скачать HTML</a></div>
        <div class="html"></div>
        </div>
    </div>
</script>

